body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.todo-container {
  background-color: #1e1e1e;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  width: 300px;
  text-align: center;
}

.todo-container h2 {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #2e2e2e;
  color: white;
}

#add-btn {
  background-color: #7300ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #5e00cc;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #2e2e2e;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-btn {
  background-color: #d62828;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: #b71c1c;
}

.completed {
  background-color: green;
}
